* {
   /* reset our code, set up our website */
   margin: 0;
   padding: 0;
   font-family: "Bricolage Grotesque", sans-serif;
}

header  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#cfcbee;;
}

body {
   background-color: #b4acf0;
   margin: 0px;
}

main {
   margin-left: 20px;
   margin-right: 20px;
}

h1 {
   font-family: "Bricolage Grotesque", sans-serif;
   text-align: center;
   color: #504a7a;
   max-width: 100%;
   padding: 20px;
   border: solid 2px; #69629c;
   background-image: url(https://images.unsplash.com/photo-1591625677777-ae053aef58ff?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   background-position: center;

}

.navbar ul {
   list-style-type: none;
   background-color: #7A73B2;
   padding: 0px;
   margin: 0px;
   overflow: hidden;
}

.navbar a {
   background-color: #7A73B2;
   color: white;
   text-decoration: none ;  /*this removes the under line*/
   padding: 15px;
   display: block;
   text-align: center;
   font-size: large;
}

.navbar a:hover {
   background-color: #b4acf0;
   font-family: "Bricolage Grotesque", sans-serif;
   font-style: normal; 
   font-weight: bold;
   font-variant: normal;
   line-height: 3;
   color: #0d0466;
}

.navbar li{
   float:inline-start;
 
}

/* COLUMN ONE INFORMATION HERE! */
/* used this site to help me put my website into two columns https://blog.hubspot.com/website/html-columns */
.Column1 {
 float: left;
 width: 60%;
 background-color: #cfcbee;
 margin: 0px;
 padding: 0px;
 border: solid 2px;
 border-color: #7A73B2;
}


.introduction {
   font-family: "Bricolage Grotesque", sans-serif;
   font-style: normal; 
   font-weight: bold;
   font-variant: normal;
   line-height: 3;
   color: #1c06c2;
   font-size: 16px;
   background-color:#cfcbee;
   margin: 20px;
   padding: 25px;
   border: solid 3px;
   border-color: #7A73B2;
}

.recent-project {
   background-color:#cfcbee;
   margin: 20px;
   padding: 15px;
   border: solid 2px;
   border-color: #7A73B2;
}

/* introduction blog piece 1 */
h2 {
   font-family: "Bricolage Grotesque", sans-serif;
   font-style: oblique;
   color: #0d0466;
   background-color: #968ce2;
   font-size: 20px;
   line-height: normal;
   text-align: center;
   margin: 20px;
   padding: 20px;
   border: 5px;
}

.introduction, .recent-project {
   background-color: #cfcbee;
   margin: 20px;
   padding: 20px;
}

/* used this blog to help me center my image because the intial way shown in class wasn't working for me https://blog.hubspot.com/website/center-an-image-in-html */
.meandbabyimg {
   display: flex;
   justify-content: center;
}

.orangeshirtdesign {
   display: flex;
   justify-content: center;
}

/* COLUMN 2 INFORMATION HERE */
.Column2 {
   float: right;
   width: 30%;
   background-color: #cfcbee;
   margin: 0px;
   padding: 0px;
   border: solid 2px;
   border-color: #7A73B2;
}

.camasimg {
   display: block;
   width: 60%;
   margin: auto;
}

h3 {
   font-family: "Bricolage Grotesque", sans-serif;
   color: #1c06c2;
   background-color: #968ce2;
   font-size: 20px;
   text-align: center;
   margin: 20px;
   padding: 20px;
   border:1px;
}

p {
   font-family: "Bricolage Grotesque", sans-serif;
   color: #1c06c2;
   font-size: 18px;
   text-align: center;
   margin: 20px;
   padding: 20px;
   border:1px;
}


/* This section in the 2nd column at the top */
.aboutblog {
   background-color:#cfcbee;
   margin: 20px;
   padding: 25px;
   border: solid 3px;
   border-color: #7A73B2;
}

/* This is the in the 2nd column at the bottom */
.follow-me {
   background-color:#cfcbee;
   margin: 10px;
   padding: 10px;
   border: solid 3px;
   border-color: #7A73B2;
   text-align: center;
}

.follow-me ul {
   padding: 0px;
   margin: 0px;
   display: 
}

.follow-me li {
   line-height: 2;
   list-style: none; /*when you accidentally stumble across a new things -taking the bullets away */ 
   margin: auto;
   font-size: 20px;
}

.follow-me a {
   text-decoration: none; /* this takes the underline away from the links from bro code vid*/
   color: #1c06c2; /* this sets the color for the links from bro code vid*/
}

.follow-me a:hover {
   text-decoration: underline; /*this will underline the link when ppl hover over it*/
   color: #968ce2;
}

.footer {
   font-family: "Bricolage Grotesque", sans-serif;
   color: #1c06c2;
   background-color: #968ce2;
   font-size: 25 px;
   text-align: center;
   background-color:#b4acf0;
   margin: 20px;
   padding: 20px;
   background: none repeat scroll 0 0 #b4acf0;
   clear: both;
   background-image: url(https://images.unsplash.com/photo-1591625677777-ae053aef58ff?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   background-position: center; 
}

.p  {
text-align: center;
font-family: "Bricolage Grotesque", sans-serif;
color: #1c06c2;
background-color: #968ce2;
font-style: normal; 
font-weight: bold;
font-variant: normal;
}

.p a:hover {
   text-decoration: underline;
   font-size: 15px;
}

p a:visited {
   color: white
}